@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles if needed */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.h-full {
    height: 100%;
}

.h-80 {
    height: 20rem;
}

.w-full {
    width: 100%;
}

.object-cover {
    object-fit: cover;
}

.border-gradient {
    /* border: 2px solid;
    border-image-slice: 1;
    border-width: 1px; */
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to left, #2ECEF2, #0F38BD) border-box;
    border-radius: 50em;
    border: 1px solid transparent;


    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: darkblue;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.border-gradient-blue span {
    background: linear-gradient(90deg, #0F38BD, #2ECEF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient-grey {
    background: linear-gradient(#f4f3f2, #f4f3f2) padding-box, linear-gradient(to left, #2ECEF2, #0F38BD) border-box;
    padding: 0.7rem 2.5rem;
    display: flex;
    align-items: end;
}